# Application Environment
NODE_ENV=development
PORT=8000
APP_URL=http://localhost:3000

# Database Configuration (PostgreSQL Docker & Prisma)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=DiscordMgr_2026
POSTGRES_DB=discord_manager
POSTGRES_PORT=5433
DATABASE_URL="postgresql://postgres:DiscordMgr_2026@localhost:5433/discord_manager?schema=public"

# Security / Hashing
BCRYPT_SALT_ROUNDS=9

# JWT Authentication
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=30d
